{include file="public/_meta" /}
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({minDate:'#F{ $dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="member_add('添加用户','add','','550')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a></span> <!-- <span class="r">共有数据：<strong>88</strong> 条</span> --> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">ID</th>
				<th width="100">名称</th>
				<th width="80">appid</th>
				<th width="90">appsecret</th>
				<th width="150">发送条数</th>
				<th width="90">所选栏目</th>
				<th width="130">自动发送时间</th>
				<th width="130">开始</th>
				<th width="130">结束</th>
				<th width="70">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name="mpusers" id="vo"}
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$vo.id}</td>
				<td>{$vo.name}</td>
				<td>{$vo.appid}</td>
				<td>{$vo.appsecret}</td>
				<td>{$vo.nums}</td>
				<td class="text-l"><?PHP echo checkcat($vo['catid']);?></td>
				<td>{$vo.sendtime|date="H:i:s",###}</td>
				<td>{$vo.starttime|date="Y-m-d H:i:s",###}</td>
				<td>{$vo.endtime|date="Y-m-d H:i:s",###}</td>
				<td class="td-status"><span class="label {eq name="vo['status']" value="1"}label-success{else}label-defaunt{/eq} radius">{eq name="vo['status']" value="1"}已启用{else}已停用{/eq}</span></td>
				<td class="td-manage"><a style="text-decoration:none" onClick="{eq name="vo['status']" value="1"}member_stop{else}member_start{/eq}(this,{$vo.id})" href="javascript:;" title="停用"><i class="Hui-iconfont">{eq name="vo['status']" value="1"}&#xe631;{else}&#xe6e1;{/eq}</i></a> <a title="编辑" href="javascript:;" onclick="member_edit('编辑','edit',{$vo.id},'','550')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>  <a title="删除" href="javascript:;" onclick="member_del(this,{$vo.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			{/volist}
		</tbody>
	</table>
	</div>
</div>
<script type="text/javascript" src="/static/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/layer/2.1/layer.js"></script>
<script type="text/javascript" src="/static/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/static/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/static/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">

/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			url: 'update',
			type: 'get',
			dataType: 'json',
			data: {'uid': id,'status':0},
			success:function(res){
				if(res.status==1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
						$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');

						$(obj).remove();
						layer.msg('已停用!',{icon: 5,time:1000});
				}else{
					layer.msg(res.content);
				}
			}
		})

	});
}

/*用户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			url: 'update',
			type: 'get',
			dataType: 'json',
			data: {'uid': id,'status':1},
			success:function(res){
				if(res.status==1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
					$(obj).remove();
					layer.msg('已启用!',{icon: 6,time:1000});
				}else{
					layer.msg(res.content);
				}
			}
		})

	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url+'?uid='+id,w,h);
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			url: 'del',
			type: 'get',
			dataType: 'json',
			data: {'uid': id},
			success:function(res){
				if(res.status==1){
					layer.msg('删除成功');
					// parent.location.reload();
					$(obj).parents("tr").remove();
				}else{
					layer.msg(res.content);
				}
			}
		})
	});
}
</script>
</body>
</html>