<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
	<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 基础功能<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a onclick="noaccess()" data-title="关注回复">关注回复</a></li>
					<li><a onclick="noaccess()" data-title="文本回复">文本回复</a></li>
					<li><a onclick="noaccess()" data-title="图文回复">图文回复</a></li>
					<li><a onclick="noaccess()" data-title="自定义菜单">自定义菜单</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 图文管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="admin/news/index" data-title="图文管理">图文管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 行业管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="admin/cats/index" data-title="行业管理">行业管理</a></li>
				</ul>
			</dd>
		</dl>


		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="admin/mpusers/index" data-title="用户列表">用户列表</a></li>
				<!-- 	<li><a _href="member-del.html" data-title="删除的会员">删除的会员</a></li>
					<li><a _href="member-level.html" data-title="等级管理">等级管理 </a></li>
					<li><a _href="member-scoreoperation.html" data-title="积分管理">积分管理</a></li>
					<li><a _href="member-record-browse.html" data-title="浏览记录">浏览记录</a></li>
					<li><a _href="member-record-download.html" data-title="下载记录">下载记录</a></li>
					<li><a _href="member-record-share.html" data-title="分享记录">分享记录</a></li> -->
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 微营销<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a onclick="noaccess()" data-title="大转盘">大转盘</a></li>
					<li><a onclick="noaccess()" data-title="砸金蛋">砸金蛋</a></li>
					<li><a onclick="noaccess()"  data-title="老虎机">老虎机</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a onclick="noaccess()" data-title="角色管理">角色管理</a></li>
					<li><a onclick="noaccess()" data-title="权限管理">权限管理</a></li>
				</ul>
			</dd>
		</dl>

		<!-- <dl id="menu-tongji">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="charts-1.html" data-title="折线图">折线图</a></li>
					<li><a _href="charts-2.html" data-title="时间轴折线图">时间轴折线图</a></li>
					<li><a _href="charts-3.html" data-title="区域图">区域图</a></li>
					<li><a _href="charts-4.html" data-title="柱状图">柱状图</a></li>
					<li><a _href="charts-5.html" data-title="饼状图">饼状图</a></li>
					<li><a _href="charts-6.html" data-title="3D柱状图">3D柱状图</a></li>
					<li><a _href="charts-7.html" data-title="3D饼状图">3D饼状图</a></li>
				</ul>
			</dd>
		</dl> -->
		<!-- <dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="system-base.html" data-title="系统设置">系统设置</a></li>
					<li><a _href="system-category.html" data-title="栏目管理">栏目管理</a></li>
					<li><a _href="system-data.html" data-title="数据字典">数据字典</a></li>
					<li><a _href="system-shielding.html" data-title="屏蔽词">屏蔽词</a></li>
					<li><a _href="system-log.html" data-title="系统日志">系统日志</a></li>
				</ul>
			</dd>
		</dl> -->
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<script>
function noaccess(){
    layer.msg('暂未开放');
}
</script>